@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

body{
    font-family: 'Lato', sans-serif;
}

/* =========== Same Design============== */

.container{
    width:82%;
    margin: 0 auto;
}

.btn-primary{
    background-color: #e55473;
    padding: 10px 25px;
    border-radius: 3px;
    color: #fff;
    font-family: Lato;
    font-size: 1.1rem;
    font-weight: 500;
}

.img-size{
    width:200px;
    height: auto;
}

.link{
    color: #272727;
    font-family:  'Lato', sans-serif;
}

.icon-img{
    padding: 15px 0 15px 45px;
}


/* =========Header section start========== */
header{
    background-color: rgba(229, 84, 115, 0.10);
    width: 100%;
    height: 580px;
}

.first-section{
    display: flex;
    gap:2.5rem;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.left-header{
    width : 50%;
   
}

.header-title{
    color: #272727;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 15px;
}

.header-detail{
    color: rgba(39,39,39,0.7);
    text-align: justify;
    margin-bottom: 15px;
}

.right-header{
    width:40%;
}

.right-header img{
    width:430px;
    height: auto;
}

/* ==============main section start==================== */

main{
    background-color: #fff;
}

.main-header{
    margin-top: 6rem;
    margin-bottom: 4rem;
}

.main-title{
    color:#272727;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 13px;
}

.main-detail{
    color:rgba(39,39,39,0.70);
    text-align: center;
    font-size: 1rem;
}

/* ==========image section============ */

.img-container{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items:center;
}
.first-img{
    width:26%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  rgba(167, 33, 98, 0.15);
    border-radius: 230px 230px 0 0;
}

.first-img img{
    margin-top: 2px;
}
.second-img{
    width:26%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:   rgba(5, 151, 160, 0.15);
    border-radius: 230px 230px 0 0;
}
.third-img{
    width:26%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 230px 230px 0 0;
}

.img-link{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img-link a{
    color: #272727;
    text-align: center;
    padding : 10px 0;
}

/* ============icon section=========== */

.icon-section{
    width:100%;
    height: 230px;
    background-color:  rgba(39, 39, 39, 0.05);
    display: flex;
    gap:10px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 7rem ;
    border-radius: 5px;
}

.icon-one{
    width:30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon-detail{
    text-align: center;
}

.icon-two{
    width:30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-3{
    width:30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* ============hot deal section============= */

.offer-container{
    width:90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:7rem auto;
}

.offer-details{
    width:70%;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 1.1rem;
    line-height: 25px;
    padding-top: 4.9rem;
}

.offer-title{
    color: #272727;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1.2rem;
}

.offer-detail{
    width:79%;
    color:rgba(39,39,39,0.70);
    text-align: center;
    font-size: 1rem;
    margin: 15px auto;
}

.offer-color{
    color: #e55473;
}

/* ====================instagram================== */

.instagram{
    margin-top: 7rem;
}

.instagram-title{
    color:#272727;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 13px;
}

.instagram-detail{
    width:50%;
    color:rgba(39,39,39,0.70);
    text-align: center;
    font-size: 1rem;
    margin: auto;
}

.instagram-card{
    width:100%;
    display: flex;
    gap:18px;
    margin-top: 3.5rem;
}

.instagram-card img{
    width:24%;
}
/* ===============client====================== */

.client{
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 9rem;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(229, 84, 115, 0.20);
}

.client-container{
    width:50%;
    margin: auto;
}

.client-container .icon-img img{
    width:70px;
}

.client-title{
    color:#272727;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 10px;
}


.client-detail{
    width:90%;
    color:rgba(39,39,39,0.70);
    text-align: center;
    font-size: 1.1rem;
    margin: 0 auto 30px;
    padding: 5px;
}

.client-img img{
    width:400px;
    height: auto;
}

.client-profile{
    width:90%;
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.client-profile img{
    width:70px;
    height: auto;
    border: 2px solid  rgba(229, 84, 115, 0.10);
    border-radius: 60%;
}


/* =============background-img=============== */

.background{
    background-image: url("../Flower asset/Rectangle 9.png");
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    margin-top: 8rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-title{
    color: #272727;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
}

.background-detail{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin: 10px 0 40px 0;
}


.form{
    width: 100%;
    display: flex;
    gap: 15px;
}
input[type="email"]{
    background-color: #fff;
    padding: 1.2rem;
    border-radius: 8px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-weight: 400px;
}

/* =============footer start================== */

footer{
    background-color: #111010;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
}

.footer-title{
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 10px;
}

.white-color{
    color: #fff;
}

.flower-detail{
    width:70%;
    text-align: center;
    margin: auto;
    color: rgba(255, 255, 255, 0.90);
    font-size: 1.1rem;
}

.footer-end{
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    margin-top: 13px;
}